body {
    font-family: sans-serif;
    background-color: black;
}
header {
    background-color: navy;
}

h1 {
    text-align: center;
    color: white;
    font-size: 36px;
    margin-top: 45;
    margin-bottom: 40;
}
h2 {
    text-align: left;
    color: white;
    font-size: 36px;
    margin-top: 15;
    margin-bottom: 5;
}

main {
    color: white;
}

header {
    background-color:navy;
}

    

footer {
background-color: rgba(156, 0, 13, 0.76);
justify-content: space-between;
display: flex;
margin-top: 20px;
}
